@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap");
$font: "Montserrat";
.week.user-weekdays {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 29px;
}

.week.user-weekdays .day {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-flow: column;
}

.week.user-weekdays .day > span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: #2c2c2c;
    margin-bottom: 8px;
}

.week.user-weekdays .day > div {
    position: relative;
    margin: 8px 0 10px;
    display: flex;
    svg {
        @media (max-width: 601px) {
            width: 30px;
            height: 30px;
        }
    }
    canvas {
        position: absolute;
        inset: 0;
        @media (max-width: 601px) {
            width: 30px;
            height: 30px;
        }
    }
}
.goal {
    font-family: $font;
    text-align: center;
    &-streak {
        display: flex;
        align-items: center;
        svg {
            margin-right: 8px;
        }
        span {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #ffffff;
        }
    }
    &-body {
        max-width: 380px !important;
        margin: 0 auto;
        text-align: center;
        > div > a {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #ff8f1c;
            text-decoration: none;
        }
        &.week-view {
            #source-calendar {
                display: none;
            }
            .week {
                display: flex;
            }
        }
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #6f7a88;
            margin: 0;
        }
        .btn-setgoal {
            margin: 24px auto 0;
        }
        .week {
            // display: none;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            gap: 5px;

            .day {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: $font;
                span:first-child {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #4d4d4d;
                }
                span {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #4d4d4d;
                    display: flex;
                    align-items: flex-end;
                    text-align: center;
                    margin-bottom: 8px;
                    &.active {
                        color: #ff8f1c;
                    }
                }
            }
        }
        .btn-viewcalendar {
            width: 100%;
            .week.user-weekdays {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                margin-top: 5px;
            }

            .week.user-weekdays .day {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                flex-flow: column;
            }

            .week.user-weekdays .day > span {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                text-align: center;
                color: #2c2c2c;
                margin-bottom: 8px;
            }

            .week.user-weekdays .day > div {
                position: relative;
                margin: 8px 0 10px;
                display: flex;
                align-items: center;
                svg {
                    @media (max-width: 601px) {
                        width: 30px;
                        height: 30px;
                    }
                }
                canvas {
                    position: absolute;
                    inset: 0;
                    @media (max-width: 601px) {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #3da0dd;
            border-top: 1px solid #ecf1f4;
            background: #fff;
            box-shadow: none;
            text-transform: capitalize;
            border-radius: 0 0 16px 16px !important;
        }
        #source-calendar {
            margin-top: 30px;
            padding: 0 0 32px;
            table {
                margin: 0;
                border: 0;
                td,
                th {
                    border: 0;
                }
                th {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: #4d4d4d;
                    a {
                        color: #4d4d4d;
                    }
                }
                a.fc-daygrid-day-number {
                    font-family: $font;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 24px;
                    text-align: center;
                    color: #4d4d4d;
                    padding: 10px 4px;
                }
            }
            .fc-daygrid-day-events {
                position: absolute;
                margin: 0;
                min-height: 1px;
                top: calc(50% + 1px);
                transform: translateY(-50%);
                a {
                    z-index: -1;
                    background: #00bedf;
                    border: 0;
                    height: 32px;
                    width: 32px;
                    margin: 0 auto;
                    border-radius: 50%;
                }
            }
            .fc-daygrid-more-link {
                cursor: pointer;
                text-indent: -9999999px;
                float: left;
                width: 32px;
                height: 32px;
                background: #ec6b03;
                border-radius: 50%;
                margin: 0 auto;
                left: 49%;
                transform: translateX(-50%);
                top: -1px;
            }
            tr {
                td.active-streak:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
            .fc-day-today {
                background-color: inherit !important;
                &.active-streak {
                    .fc-daygrid-day-number {
                        background: 0;
                        top: 0;
                    }
                }

                .fc-daygrid-day-number {
                    width: 32px;
                    height: 32px;
                    background: #f15b2a;
                    color: #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                }
            }
            .active-streak {
                position: relative;
                // +.active-streak {
                //     background: red;
                // }
                &.last-streak {
                    &::after {
                        display: none;
                    }
                }
                &.fc-daypast-nostreak {
                    &::before {
                        content: "" !important;
                        background: none !important;
                        display: none !important;
                    }
                }
                &::after {
                    content: "";
                    width: 50%;
                    height: 32px;
                    background: #ccf2f9;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-48%);
                    z-index: -1;
                }
                ~ .active-streak {
                    &::before {
                        content: "";
                        width: 50%;
                        height: 32px;
                        background: #ccf2f9;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-48%);
                        z-index: -1;
                    }
                }

                .fc-daygrid-day-top {
                    z-index: 5;
                    a {
                        color: #fff;
                    }
                }
                &.very-last {
                    .fc-daygrid-day-events a::before {
                        // content: "";
                        width: 6px;
                        height: 6px;
                        display: block;
                        position: absolute;
                        background: #0071ca;
                        border-radius: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -9px;
                    }
                }
            }
            .fc-daygrid-day:not(.active-streak) + .active-streak::before {
                display: none !important;
            }
            .fc-day-past:not(.active-streak) {
                + .active-streak {
                    &::before {
                        display: none !important;
                    }
                }
            }
            .fc-daygrid-day-top {
                justify-content: center;
            }
            .fc-daygrid-day-frame {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .fc-scroller {
                height: auto !important;
                overflow-y: auto;
            }
            .fc-toolbar-chunk {
                .fc-button {
                    padding: 0;
                    background: 0;
                    border: 0;
                    display: flex;
                    align-items: center;
                    box-shadow: none;
                }
                .fc-icon {
                    color: #324053;
                }
            }
            .fc-toolbar-title {
                font-family: $font;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #4d4d4d;
            }
        }
    }

    &-description {
        padding: 16px 25px 0;
    }
    &-wrapper {
        padding: 69px 25px 83px;
    }
}
