@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap");
.week.user-weekdays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 29px;
}
.week.user-weekdays .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-flow: column;
}
.week.user-weekdays .day > span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #2c2c2c;
  margin-bottom: 8px;
}
.week.user-weekdays .day > div {
  position: relative;
  margin: 8px 0 10px;
  display: flex;
}
@media (max-width: 601px) {
  .week.user-weekdays .day > div svg {
    width: 30px;
    height: 30px;
  }
}
.week.user-weekdays .day > div canvas {
  position: absolute;
  inset: 0;
}
@media (max-width: 601px) {
  .week.user-weekdays .day > div canvas {
    width: 30px;
    height: 30px;
  }
}
.goal {
  text-align: center;
}
.goal-streak {
  display: flex;
  align-items: center;
}
.goal-streak svg {
  margin-right: 8px;
}
.goal-streak span {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.goal-body {
  max-width: 380px !important;
  margin: 0 auto;
  text-align: center;
}
.goal-body > div > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff8f1c;
  text-decoration: none;
}
.goal-body.week-view .src-calendar {
  display: none;
}
.goal-body.week-view .week {
  display: flex;
}
.goal-body p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6f7a88;
  margin: 0;
}
.goal-body .btn-setgoal {
  margin: 24px auto 0;
}
.goal-body .week {
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 5px;
}
.goal-body .week .day {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goal-body .week .day span:first-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #4d4d4d;
}
.goal-body .week .day span {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4d4d4d;
  display: flex;
  align-items: flex-end;
  text-align: center;
  margin-bottom: 8px;
}
.goal-body .week .day span.active {
  color: #ff8f1c;
}
.goal-body .btn-viewcalendar {
  width: 100%;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3da0dd;
  border-top: 1px solid #ecf1f4;
  background: #fff;
  box-shadow: none;
  text-transform: capitalize;
  border-radius: 0 0 16px 16px !important;
}
.goal-body .btn-viewcalendar .week.user-weekdays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 5px;
}
.goal-body .btn-viewcalendar .week.user-weekdays .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-flow: column;
}
.goal-body .btn-viewcalendar .week.user-weekdays .day > span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #2c2c2c;
  margin-bottom: 8px;
}
.goal-body .btn-viewcalendar .week.user-weekdays .day > div {
  position: relative;
  margin: 8px 0 10px;
  display: flex;
  align-items: center;
}
.src-calendar.fc .fc-scrollgrid-section-sticky > * {
  background: transparent;
}

@media (max-width: 601px) {
  .goal-body .btn-viewcalendar .week.user-weekdays .day > div svg {
    width: 30px;
    height: 30px;
  }
}
.goal-body .btn-viewcalendar .week.user-weekdays .day > div canvas {
  position: absolute;
  inset: 0;
}
@media (max-width: 601px) {
  .goal-body .btn-viewcalendar .week.user-weekdays .day > div canvas {
    width: 30px;
    height: 30px;
  }
}
.goal-body .src-calendar {
  margin-top: 30px;
  padding: 0 0 32px;
}
.goal-body .src-calendar table {
  margin: 0;
  border: 0;
}
.goal-body .src-calendar table td, .goal-body .src-calendar table th {
  border: 0;
}
.goal-body .src-calendar table th {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4d4d4d;
}
.goal-body .src-calendar table th a {
  color: #4d4d4d;
}
.goal-body .src-calendar table a.fc-daygrid-day-number {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #4d4d4d;
  padding: 10px 4px;
}
.goal-body .src-calendar .fc-daygrid-day-events {
  position: absolute !important;
  margin: 0;
  min-height: 1px !important;
  top: calc(50% + 1px);
  transform: translateY(-50%);
}
.goal-body .src-calendar .fc-daygrid-day-events a {
  z-index: -1;
  background: #00bedf;
  border: 0;
  height: 32px;
  width: 32px;
  margin: 0 auto;
  border-radius: 50%;
}
.goal-body .src-calendar .fc-daygrid-more-link {
  cursor: pointer;
  text-indent: -9999999px;
  float: left;
  width: 32px;
  height: 32px;
  background: #ec6b03;
  border-radius: 50%;
  margin: 0 auto;
  left: 49%;
  transform: translateX(-50%);
  top: -1px;
}
.goal-body .src-calendar tr td.active-streak:last-child::after {
  display: none;
}
.goal-body .src-calendar .fc-day-today {
  background-color: inherit !important;
}
.goal-body .src-calendar .fc-day-today.active-streak .fc-daygrid-day-number {
  background: 0;
  top: 0;
}
.goal-body .src-calendar .fc-day-today .fc-daygrid-day-number {
  width: 32px;
  height: 32px;
  background: #f15b2a;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.goal-body .src-calendar .active-streak {
  position: relative;
}
.goal-body .src-calendar .active-streak.last-streak::after {
  display: none;
}
.goal-body .src-calendar .active-streak.fc-daypast-nostreak::before {
  content: "" !important;
  background: none !important;
  display: none !important;
}
.goal-body .src-calendar .active-streak::after {
  content: "";
  width: 50%;
  height: 32px;
  background: #ccf2f9;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-48%);
  z-index: -1;
}
.goal-body .src-calendar .active-streak ~ .active-streak::before {
  content: "";
  width: 50%;
  height: 32px;
  background: #ccf2f9;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-48%);
  z-index: -1;
}
.goal-body .src-calendar .active-streak .fc-daygrid-day-top {
  z-index: 5;
}
.goal-body .src-calendar .active-streak .fc-daygrid-day-top a {
  color: #fff;
}
.goal-body .src-calendar .active-streak.very-last .fc-daygrid-day-events a::before {
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  background: #0071ca;
  border-radius: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: -9px;
}
.goal-body .src-calendar .fc-daygrid-day:not(.active-streak) + .active-streak::before {
  display: none !important;
}
.goal-body .src-calendar .fc-day-past:not(.active-streak) + .active-streak::before {
  display: none !important;
}
.goal-body .src-calendar .fc-daygrid-day-top {
  justify-content: center;
}
.goal-body .src-calendar .fc-daygrid-day-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}
.goal-body .src-calendar .fc-scroller {
  height: auto !important;
  overflow-y: auto;
}
.goal-body .src-calendar .fc-toolbar-chunk .fc-button {
  padding: 0;
  background: 0;
  border: 0;
  display: flex;
  align-items: center;
  box-shadow: none;
}
.goal-body .src-calendar .fc-toolbar-chunk .fc-icon {
  color: #324053;
}
.goal-body .src-calendar .fc-toolbar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #4d4d4d;
}
.goal-description {
  padding: 16px 25px 0;
}
.goal-wrapper {
  padding: 69px 25px 83px;
}
