.week.user-weekdays {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 29px;
}

.week.user-weekdays .day {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-flow: column;
}

.week.user-weekdays .day > span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: #2c2c2c;
    margin-bottom: 8px;
}

.week.user-weekdays .day > svg {
    margin: 8px 3px 10px;
}